{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
{%if not setting%}
  <div class="if_not_setting">
     <h1>It looks empty!You need to make a small setting.Click the white box.</h1>
  </div>
  <a href="user_settings">
    <div id="if_not_setting_click"></div>
  </a>
{%endif%}
{%for setting in setting%}
  <div class="header">
  <a class="logo">{{setting.user_name}}</a>
  <div class="header-right">

      <a href="/user_settings"><img src="/static/settings.svg" style="width:30px;"></a>
  </div>
</div>


     {%ifequal setting.select_movie 'E'%}
          <a href="movie/movie_index">
              <div class="cat" id="movies">
                     <h1 class=cat_h1 id="movie_name">{{setting.movie}}</h1>
                     <h3 class="cat_h3">{{movies}} movie</h3>
              </div>
          </a>
     {%endifequal%}
     {%ifequal setting.select_movie 'E'%}
          <a href="tv/tv_index">
              <div class="cat" id="tv">
                     <h1 class=cat_h1 id="tv_name">{{setting.tv_series}}</h1>
                     <h3 class="cat_h3">{{tv_series}} tv series</h3>
              </div>
          </a>
     {%endifequal%}
     {%ifequal setting.select_movie 'E'%}
          <a href="blog/blog_index">
             <div class="cat" id="blog">
                <h1 class="cat_h1" id="blog_name">{{setting.blog}}</h1>
             </div>
          </a>
     {%endifequal%}
     {%ifequal setting.select_movie 'E'%}
          <a href="book/book_index">
            <div class="cat" id="books">
                  <h1 class="cat_h1" id="book_name">{{setting.book}}</h1>
                  <h3 class="cat_h3" >{{books}} book</h3>
            </div>
          </a>
     {%endifequal%}
{%endfor%}
</body>
</html>