{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>

     <link rel="stylesheet" href="{% static 'css/book_index.css'%}">
</head>
<body>

    {%for user in user%}
        <div class="header">
          <a href="#default" class="logo">{{user.user_name}}</a>
            <div class="header-right">
              <a class="active" href="http://127.0.0.1:8000">Home</a>
              <a  href="/movie/movies">Movies</a>
              <a  href="/tv/tv_index">Tv Shows</a>
              <a  href="/book/book_index">Books</a>
            </div>

            <p id="books_count">
                 Total Book:{{len_all}} |
                 Reading:{{len_rg}} |
                 Read:{{len_r}} |
                 Not Read:{{len_nr}}
            </p>
        </div>
  {%endfor%}
      <div class="add_book">
        <small><a href="/book/book_create">Add Book</small></a>

    </div>
     <div class="add_multiple_book">

        <small><a href="/book/add_book">Add Multiple Book</small></a>
    </div>
     <form method="POST">
         {% csrf_token %}

         <input class="filter" type="submit" name="allbooks" value="all books"/>
         <input class="filter" type="submit" name="read" value="read"/>
         <input class="filter" type="submit" name="not read" value="not read"/>
         <input class="filter" type="submit" name="reading" value="reading"/>

     </form>
    <p class="page_title"> BOOKS</p>

    <div class="row">
     {%for i in books%}

       <div class="book_index_container">

           <h3 class="book_name">{{i.book_name}}</h3>
            <div class="book_index_content">
                <p class="book_author"><strong>Author:</strong>{{i.author_name}}</p>
                <small class="book_date">{{i.date|timesince}} ago</small>
            </div>

       </div>
      {%endfor%}
    </div>






</body>
</html>