
body{
  background-image:url("/static/books_bg.jpg");
  -webkit-box-shadow: inset 0px 0px 600px 600px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 0px 0px 600px 600px rgba(0,0,0,0.7);
  box-shadow: inset 0px 0px 600px 600px rgba(0,0,0,0.7);

  margin:0px;
}


.book_index_container{
  font-family:monospace;
  float: left;
  width: 20%;
  margin-left:100px;
  height:350px;
  border:solid  grey;
  border-width:0px 20px 0px 0px;
  border-radius:25px 0px 0px 25px;
  margin-bottom:100px;
  background-color:#2d3436;



}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.book_name{
  margin-top:30px;
  font-family:monospace;
  color:#eccc68;
  text-align:center;
  font-size:25px;




}

.book_author{

  text-align:center;
  color:#eccc68;

}
.book_date{


  margin-left:50%;
  color:#eccc68;


}

.book_note_title{

padding-left:5px;
border: solid #eccc68;
border-width:1px 0px 0px 0px;
border-radius:15px;


color:#eccc68;}

.book_note{
padding:0px;
padding-left:5px;


color:#eccc68;}



.page_title{
   text-align:center;
   color:white;
   font-family:monospace;
   font-size:50px;


}
.page_title a{
  text-decoration:none;
  color:green;
}
.opt_link{


  margin-top:30px;
  text-align:center;



}



.add_book{

 float:left;
 width:50%;
 text-align:center;
 font-size:30px;
 color:white;
 font-family:monospace;







}
.add_multiple_book{


 float:right;
 width:50%;
 text-align:center;
 font-size:30px;




}
a{
 text-decoration:none;
 color:white;
 font-family:monospace;
}
.if_not{
   text-align:center;
   color:white;

}
.filter{

   border: solid grey;
   border-width:0px 0px 1px 0px;
   width:17%;
   background-color:rgba(0,0,0,0.40);
   color:white;
   height:40px;
   font-size:20px;

}
.header {
  overflow: hidden;
  padding: 20px 10px;


}


.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  position: relative;
    -webkit-animation: headermove 2s;  /* Safari 4.0 - 8.0 */

    animation: headermove 2s;

}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family:monospace
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color:;
  color: white;
}


.header-right {
  float: right;
}
#books_count{
   font-family:"Helvetica Neue", Helvetica, Sans-serif;
   text-align:center;
   color:white;
}
form{
   margin-top:100px;
   margin-left:290px;
}




