
.add_tv{

 float:left;
 text-align:center;
 margin-left:50px;
 }

.add_multiple_tv{


 float:right;
 width:50%;
 text-align:center;
 font-size:50px;




}
#page_title{
   text-align:center;
   color:white;
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size:30px;
   margin-left:50px;
   margin-right:50px;



}
.header {
  overflow: hidden;
  background-color:#101010;
  padding: 20px 10px;


}


.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;

  position: relative;
    -webkit-animation: headermove 2s;  /* Safari 4.0 - 8.0 */

    animation: headermove 2s;

}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family:monospace
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color:;
  color: white;
}


.header-right {
  float: right;
}
.row{
   margin-left:25px;




}

.row:after{
  content: "";
  display: table;
  clear: both;

}
.tv_poster{

   height:300px;
   width:200px;


}
.tv_info{
   color: white;

   margin-top:100px;


}

.tv_content{

   float:left;
   width:60%;



}

#tv_name{
  color:#EA2027;
  text-decoration:none;
  font-size:70px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.tv_play_button{
   background-color: #f1f1f1;
   border:1px solid #f1f1f1;
   min-width: 160px;
   height:50px;
}
.tv_play_button:hover{
  background-color: #4CAF50;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter{
   margin:auto;
   border:1px solid #101010;
   width:17%;
   background-color:#101010;
   color:white;
   height:40px;
   font-size:30px;

}


