{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/movies.css'%}">
     <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
  {%for user in user%}
    <div class="header">
      <a href="#default" class="logo">{{user.user_name}}</a>

      <div class="header-right">
          <a class="active" href="http://127.0.0.1:8000">Home</a>
          <a  href="/movie/movie_index">Movies</a>
          <a href="/tv/tv_index">Tv-Series</a>
          <a  href="/book/book_index">Books</a>

      </div>
         <p id="movies_count">
             Total Movie:{{movies.count}}
         </p>
    </div>
{%endfor%}
        <div class="add_multiple_movie">
           <a  class="add" href="/movie/add_movie">Add Multiple Movie</a>
         </div>
        <div class="add_movie">
           <a class="add" href="/movie/movie_create">Add Movie</a>
        </div>
        <div class="which_movie" id="fav">
            <a href="/movie/favorite_movies"><h1>YOUR FAVORITES</h1></a>
            <h2>{{len_fav}} </h2>

        </div>
        <div class="which_movie" id="want">
            <a href="/movie/didnt_watch"><h1>MOVIES YOU WANT TO WATCH</h1></a>
            <h2>{{len_nW}}</h2>
        </div>
        <div class="which_movie" id="watched">
            <a href="/movie/watched"><h1>WATCHED</h1></a>
            <h2>{{len_W}}</h2>
        </div>
</body>
</html>