{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
     <link rel="stylesheet" href="{% static 'css/movie_index.css'%}">
     <link rel="stylesheet" href="{% static 'css/home.css'%}">

     <style>body{background:black;margin:0px;}</style>

</head>
<body>

 {%for user in user%}
    <div class="header">
      <a href="http://127.0.0.1:8000" class="logo">{{user.user_name}}</a>

      <div class="header-right">
          <a class="active" href="http://127.0.0.1:8000">Home</a>
          <a  href="/movie/movie_index">Movies</a>
          <a href="/tv/tv_index">Tv-Series</a>
          <a  href="/book/book_index">Books</a>

      </div>
         <p id="movies_count">
             Total Movie:{{len_all}} |
             Favorites:{{len_fav}} |
             Watched:{{len_W}} |
             Not watched:{{len_nW}}

         </p>

    </div>
{%endfor%}

  <form method="POST">
         {% csrf_token %}
         <input class="filter" type="submit" name="allmovies" value="all movies"/>
         <input class="filter" type="submit" name="watched" value="watched"/>
         <input class="filter" type="submit" name="not watched" value="not watched"/>
         <input class="filter" type="submit" name="favorites" value="favorites"/>
         <input class="filter" type="submit" name="sort by rating" value="sort by rating"/>
     </form>
  <p id="page_title">
      <small><a style="margin-right:30px;color:white;" href="/movie/movie_create">Add Movie</a></small>
      <strong>MOVIES</strong>
      <small><a style="margin-left:30px;color:white;" href="/movie/add_movie">Add Multiple Movie</a></small>

  </p>



  <div class="row">

      {%for i in movies%}

         <img class="movie_poster" src="{{i.poster}}" onclick="mouseover({{forloop.counter}});"/>
         <div class="movie_info"  id="{{forloop.counter}}" style="display:none;">
             <div class="movie_content" style=" background-image:url({{i.poster}});" onclick="mouseover({{forloop.counter}});">

                 <a href="{{i.get_absolute_url}}" id="movie_name">{{i.movie_name}}</a>
                 <p class="content">Category: {{i.category}}</p>
                 <span class="content">Rate:  {{i.movie_rate}} | </span>
                 <span class="content">Duration: {{i.duration}}   </span>
                 <p class="content">{{i.summary}}</p>
                 <p classs="content">Notes:</p>
                 {%if not i.notes%}
                     <p>you have no notes yet.<a href="{{i.get_update_url}}" class="edit">Add note...</a></p>
                 {%else%}
                 <p style="font-size:19px;">{{i.notes|truncatechars:1500}}<a href="{{i.get_update_url}}" class="edit">See more...</a></p>
                 {%endif%}

             </div>

         </div>
      {%endfor%}

  </div>
  <div class="pagination">
                <span class="step-links">
                    {% if movieW.has_previous %}
                        <a href="?page={{ movieW.previous_page_number }}" class="pagination_button"><<<</a>
                    {% endif %}

                    <span class="current">
                        Page {{ movieW.number }} of {{ movieW.paginator.num_pages }}.
                    </span>

                    {% if movieW.has_next %}
                        <a href="?page={{ movieW.next_page_number }}" class="pagination_button">>>></a>
                    {% endif %}
                </span>
            </div>

<script src="{% static 'js/movies.js' %}"></script>
</body>
</html>