{%load static%}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Movie Index</title>

     <link rel="stylesheet" href="{% static 'css/movie_index.css'%}">
     <link rel="stylesheet" href="{% static 'css/home.css'%}">


</head>
<body>
{%for user in user%}
    <div class="header">
      <a href="#default" class="logo">{{user.user_name}}</a>

      <div class="header-right">
          <a class="active" href="http://127.0.0.1:8000">Home</a>
          <a  href="/movie/movie_index">Movies</a>
          <a  href="/book/book_index">Books</a>

      </div>
         <p id="movies_count">
             Toplam Film:{{movies.count}} |
             Favorilerin:{{len_fav}} |
             İzlediğin:{{len_W}} |
             İzlemek İstediğin:{{len_nW}}
         </p>
    </div>
{%endfor%}
    <div class="add_movie">
        <small><a href="/movie/movie_create">Add Movie</small></a>

    </div>
     <div class="add_multiple_movie">

        <small><a href="/movie/add_movie">Add Multiple Movie</small></a>
    </div>
    <div class="page_title">
        <p>YOUR FAVORITE MOVIES</p>
    </div>
    <div class="row">
     {%for i in fav_movie%}

       <div class="movie_index_container">

           <div class="movie_index_content" >
               <h3 class="movie_name">{{i.movie_name}}</h3>
               <small class="movie_date">Added {{i.date|timesince}} ago</small>

                 <img style="height:30px;" src="{%static 'star.svg'%}">

               <p class="movie_note_title">Notlar:</p>
               <p class="movie_note">{{i.notes|truncatechars:10}}</p>

           </div>
           <div class="opt_link">
                  <a class="movie_update" href="{{ i.get_update_url }}">Update</a>
                  <a class="movie_view" href="{{ i.get_absolute_url }}">View</a>
           </div>
       </div>
        {%endfor%}
    </div>


     <div class="page_title">
        <p>MOVIES I WANT TO WATCH</p>
     </div>
     <div class="row">
     {%for i in movieNW%}

       <div class="movie_index_container">

           <div class="movie_index_content" >
               <h3 class="movie_name">{{i.movie_name}}</h3>
               <small class="movie_date">Added {{i.date|timesince}} ago</small>
                {%if i.favorite_book%}
                 <img style="height:30px;" src="{%static 'star.svg'%}">
                {%endif%}
               <p class="movie_note_title">Notlar:</p>
               <p class="movie_note">{{i.notes|truncatechars:10}}</p>

           </div>
           <div class="opt_link">
                  <a class="movie_update" href="{{ i.get_update_url }}">Update</a>
                  <a class="movie_view" href="{{ i.get_absolute_url }}">View</a>
           </div>
       </div>

     {%endfor%}
     </div>
     <br>


      <div class="page_title">
        <p>MOVIES I WATCHED</p>
      </div>
      <div class="row">
      {%for i in movieW%}
          <div class="movie_index_container">

           <div class="movie_index_content" >
               <h3 class="movie_name">{{i.movie_name}}</h3>
               <small class="movie_date">Added {{i.date|timesince}} ago</small>
               {%if i.favorite_movie%}
                   <img style="height:30px;" src="{%static 'star.svg'%}">
               {%endif%}
               <p class="movie_note_title">Notlar:</p>
               <p class="movie_note">{{i.notes|truncatechars:10}}</p>
           </div>
           <div class="opt_link">
                  <a class="movie_update" href="{{ i.get_update_url }}">Update</a>
                  <a class="movie_view" href="{{ i.get_absolute_url }}">View</a>
           </div>
       </div>
     {%endfor%}
      </div>




</body>
</html>