{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies You Watched</title>
     <link rel="stylesheet" href="{% static 'css/movie_index.css'%}">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
 {%for user in user%}
    <div class="header">
      <a href="#default" class="logo">{{user.user_name}}</a>

      <div class="header-right">
          <a class="active" href="http://127.0.0.1:8000">Home</a>
          <a  href="/movie/movie_index">Movies</a>
          <a  href="/book/book_index">Books</a>

      </div>
         <p id="movies_count">
             Toplam Film:{{movies.count}} |
             Favorilerin:{{len_fav}} |
             İzlediğin:{{len_W}} |
             İzlemek İstediğin:{{len_nW}}
         </p>
    </div>
{%endfor%}
 <div class="add_multiple_movie">
      <a  class="add" href="/movie/add_movie">Add Multiple Movie</a>
  </div>
  <div class="add_movie">
      <a class="add" href="/movie/movie_create">Add Movie</a>
  </div>


       <h1 class="page_title">MOVIES YOU WATCHED</h1>
           {%if not movieW%}
              <p class="if_not">You have no movie yet</p>
           {%endif%}
      <div class="row">
      {%for i in movieW%}

          <div class="movie_index_container">
             <a  href="{{ i.get_absolute_url }}">
                 <img id="movie_poster" src="{{i.poster}}" style="width:190px; height:280px;"/>
             </a>
           <div class="movie_index_content" >
               <h3 class="movie_name">{{i.movie_name}}</h3>
               <p id="movie_category">Category:{{i.category}}</p>
               <p class="movie_rate">
                      <img  class="rate_img"src="{%static 'star.svg'%}">
                      Ratings:{{i.movie_rate}}
                      <img  class="rate_img"src="{%static 'star.svg'%}">
                   <a id="imdb_page" href={{i.imdb_page}}>IMDb page</a>
               </p>

               {%if i.favorite_movie%}
                   <img style="height:30px;" src="{%static 'star.svg'%}">
               {%endif%}

               

           </div>
            <p class="movie_date">Added {{i.date|timesince}} ago</p>
          </div>


     {%endfor%}
      </div>
     <div class="pagination">
                <span class="step-links">
                    {% if movieW.has_previous %}
                        <a href="?page={{ movieW.previous_page_number }}" class="pagination_button"><<<</a>
                    {% endif %}

                    <span class="current">
                        Page {{ movieW.number }} of {{ movieW.paginator.num_pages }}.
                    </span>

                    {% if movieW.has_next %}
                        <a href="?page={{ movieW.next_page_number }}" class="pagination_button">>>></a>
                    {% endif %}
                </span>
            </div>


</body>
</html>