{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>

     <link rel="stylesheet" href="{% static 'css/blog_index.css'%}">
     <link rel="stylesheet" href="{% static 'css/home.css'%}">



</head>
<body>
{%for user in user%}
    <div class="header">
      <a href="#default" class="logo">{{user.user_name}}</a>
        <div class="header-right">
          <a class="active" href="http://127.0.0.1:8000">Home</a>
          <a  href="/movie/movie_index">Movies</a>
          <a  href="/book/book_index">Books</a>
        </div>

        <p id="movies_count">
             Toplam Kitap:{{books.count}} |
             Favorilerin:{{len_fav}} |
             Okudukların:{{len_R}} |
             Okumak İstediğin:{{len_nR}}
        </p>
    </div>
{%endfor%}
    <div class="add_book">
        <small><a href="/blog/blog_create">Add Post</small></a>
    </div>



    <div class="row">
     {%for i in diary%}

       <div class="blog_index_container">
           <p class="blog_title">{{i.title}}</p>
           <p class="blog_content">{{i.content|truncatechars:150}}</p>
           <p class="blog_date">{{i.date|timesince}}</p>
       </div>
      {%endfor%}
    </div>






</body>
</html>